/* Everything */
* {
  margin: 0;
  font: sans-serif; 
}

/* Links */
a {
  color: #b41818;
}
a:link {
  color: #b41818;
}
a:hover {
  color: #b41818;
  text-decoration: none;
}

/* Headers */
h2 {
  font-size: 175%;
  font-weight: normal;
}
h3 {
  font-size: 100%;
  border-bottom: 1px solid #ddd;
}

/* Layout */
#layout { 
  width: 820px;
  margin: 0 auto; 
  text-align: left; 
}

/* Header */
#header {
  position: relative;
  background: #303030;
  margin-bottom: 20px;
}

/* Logo */
#logo {
  font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
  position: relative; 
  overflow: hidden; 
  width: 200px;
  height: 105px;
  font-size: 230%;
  margin: 0;
  line-height: 100px;
  text-align: center;
 }
#logo a {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  border-left: 8px solid #b41818;  
  padding: 0px 10px 7px 10px;  
}   
#logo span {
  color: #676767;
  font-weight: bold;
} 
#logo a:hover span {
  color: #fff;
  font-weight: bold;
}
      
/* Red box*/
.redbox {
  background: #d02c2c;
  width: 95%;
  margin: 1em auto;
  color: #fff;
  margin-bottom: 20px;
}
.redbox h2 {
  color: #fff;
  font-size: 170%;
  margin-top: 0;
  border: 0;
}
.rbcontent {
  margin: 0 7px;
}
.leftcontent {
  float: left; 
  padding: 12px 0 12px 10px;
  width: 500px;
  z-index: 10;
}
#rightpanel {
  float: right;
  width: 230px;
  padding: 15px 10px 10px 10px;
}
#rightpanel span {
  color: #e49695;
}
#rightpanel p {
  margin: 0;
}
#rightcontent {
  border-left: 1px solid #ca4747;
  padding: 0 0 0 16px;
}
.rbbot {
  clear: both;
}


/* Main */     
#main {
  padding: 0 37px
}

/* Footer */      
#footer {
  background: #303030; 
  margin: 0 auto; 
  padding: 26px 0;
}

/* Paragraph */
p {
  margin: 15px 0;
  line-height: 24px;
  font-size: 90%
}
.content p {
  color: #fff;
  margin-top: 10px;
}