section {
  width: 100%;
}

.city {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 48%;
  background-color: #7E7E7E;
}

.province {
  clear: left;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 98%;
  background-color: #A8A8A8;
}

.country {
float: left;
margin-left: 1%;
margin-right: 1%;
margin-bottom: 1%;
width: 31.3%;
height: 100%;
background-color: #545454;
}

.continent {
float: left;
margin-left: 1%;
margin-right: 1%;
margin-bottom: 1%;
width: 23%;
background-color: #D3D3D3;
}
