/*
CSS
*/

h1 {
  text-align: center;
  color: white;
  background-color: black;
  width: 99%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

h2 {
  text-align: center;
}

div {
  border-radius: 25px;
  background-color: #C8C8C8;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  padding-left: 20px;
}

nav {
  text-align: center;
  clear: left;
}

footer {
  font-size: 10px;
}

article {
  display: flex;
  flex-flow: row wrap;
  clear: left;
}

.row1 {
  background-color: #7E7E7E;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.row2 {
  background-color: #A8A8A8;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}
.row3 {
  background-color: #545454;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.row4 {
  background-color: #D3D3D3;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.row1, .row2, .row3, .row4 {
  width: 96%;
}

@media only screen and (min-device-width: 300px) {
  .row1, .row2, .row3, .row4 {
    width: 96%;
  }
}

@media only screen and (min-device-width: 600px) {
  .row1, .row2, .row3 {
    width: 96%;
  }
  .row4 {
    width: 47%;
  }
}

@media only screen and (min-width: 800px) {
  .row1 {
    width: 48%;
  }
  .row2 {
    width: 98%;
  }
  .row3 {
    width: 31.3%;
  }
  .row4 {
    width: 23%;
  }
}
