.city {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 47%;
  border: 1px solid black;
}

.province {
  clear: left;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 96%;
  border: 1px solid black;
}

.country {
float: left;
margin-left: 1%;
margin-right: 1%;
margin-bottom: 1%;
width: 31%;
border: 1px solid black;
}

.continent {
float: left;
margin-left: 1%;
margin-right: 1%;
margin-bottom: 1%;
width: 20%;
border: 1px solid black;
}
