.city {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 48%;
  border: 1px solid black;
}

.province {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
  border: 1px solid black;
}
