.city {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 47%;
  border: 1px solid black;
}

.province {
  clear: left;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 98%;
  border: 1px solid black;
}
