section {
  width: 100%;
}

.city {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 47.5%;
  border: 2px solid black;
}

.province {
  clear: left;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 96%;
  border: 1px solid black;
}

.country {
float: left;
margin-left: 1%;
margin-right: 1%;
margin-bottom: 1%;
width: 30.5%;
height: 100%;
border: 1px solid black;
}

.continent {
float: left;
margin-left: 1%;
margin-right: 1%;
margin-bottom: 1%;
width: 22.5%;
border: 1px solid black;
}
