/* CSS */
   .center {
      text-align: center;
   }
   .bold {
      font-weight: bold;
   }
   h1 {
      text-shadow: 5px 5px 5px #999999;
   }
/*
   table, th, td {
      border: 1px solid black;
   }
*/
   table {
      border-collapse: separate;
      border: 1px solid black;
      border-radius: 10px;
      border-spacing: 0;
   }
   td, th {
      border-left: 1px solid black;
      border-top: 1px solid black;
   }
   td:first-child, th:first-child {
      border-left: none;
   }
   ul {
      color: black;
   }
   p {
      text-align: left;
   }
   p.small {
      font-size: 10px;
   }
/*
   #rcorners {
      border-radius: 25px;
      border: 1px solid black;
      padding: 2px;
      width: 200px;
      height: 150px;
   }
*/
