/* CSS */
   .center {
      text-align: center;
   }
   .bold {
      font-weight: bold;
   }
   h1 {
      text-shadow: 5px 5px 5px #999999;
   }
   table, th, td {
      border: 1px solid black;
   }
   table {
      border-collapse: collapse;
   }
   ul {
      color: black;
   }
   p {
      text-align: left;
   }
   p.small {
      font-size: 10px;
   }
   #rcorners {
      border-radius: 50px;
      border: 1px solid black;
      padding: 20px;
      width: 200px;
      height: 150px;
   }
