/* CSS */
   .center {
      text-align: center;
   }
   .bold {
      font-weight: bold;
   }
   h1 {
      text-shadow: 5px 5px 5px #999999;
   }
   table, th, td {
      border: 1px solid black;
   }
   table {
      border: 1px solid blue;
      border-collapse: collapse;
   }
   ul {
      color: black;
   }
   p {
      text-align: left;
   }
   p.small {
      font-size: 10px;
   }
