/* CSS */
   div.center {
      text-align: center;
   }
   div.bold {
      font-weight: bold;
   }
   table, th, td {
      border: 1px solid black;
   }
   table {
      border-collapse: collapse;
   }
   ul {
      color: black;
   }
   p {
      text-align: left;
   }
   p.small {
      font-size: 10px;
   }
